<nav class="navbar navbar-dark navbar bg-primary">
  <a class="navbar-brand" href="/">
    tech-test-kingtide
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-11">
      <ul class="list-group mt-4">
        <li *ngFor="let user of users" class="list-group-item list-group-item-action">
          <div class="row justify-content-end">
            <div class="col-10">
              {{user.name + ' ' + user.lastName}} - {{user.rfc}}
            </div>
            <div class="col-2">
              <button mat-icon-button (click)="addEditUser(user)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteUser(user)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button (click)="onSelectUser(user._id)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-1">
      <div class="mt-4">
        <button mat-icon-button (click)="addEditUser()">
          <mat-icon>
            add_circle
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<app-user [userId]="userId"></app-user>
